/* Estilos do Chat Futurista Dark Mode */
html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background: #121212;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#entry {
    width: 90%;
    max-width: 400px;
    padding: 30px;
    background: #333;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

p {
    margin: 15px 0;
    color: #ccc;
}

input, button {
    width: calc(100% - 30px); /* Ajuste para margem interna */
    padding: 15px;
    margin: 15px 15px 15px 0;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background: #444;
    color: #f1f1f1;
}

input::placeholder {
    color: #999;
}

button {
    background: linear-gradient(135deg, #7f3cb7, #2980b9);
    color: #f1f1f1;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: linear-gradient(135deg, #6d3ca9, #2577a9);
}

/* Estilos do Chat */
#chat {
    width: 90%;
    max-width: 600px;
    height: 80vh;
    margin: 20px auto;
    padding: 20px;
    background: #222;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

#messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border-radius: 10px;
    background: #333;
    margin-bottom: 10px;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    color: #f1f1f1;
    width: fit-content;
    max-width: 70%;
}

.message:last-child {
    margin-bottom: 0;
}

.user1 {
    background: linear-gradient(135deg, #007aff, #00c7ff);
    align-self: flex-start;
}

.user2 {
    background: linear-gradient(135deg, #4caf50, #8bc34a);
    align-self: flex-end;
}

#messageForm {
    display: flex;
    flex-direction: column; /* Altera a direção do layout para coluna */
}

#messageInput {
    flex: 1;
    padding: 15px;
    margin-bottom: 10px; /* Adiciona espaço entre o input e o botão */
    border: none;
    border-radius: 10px;
    background: #444;
    color: #f1f1f1;
    font-size: 18px;
}

#messageInput::placeholder {
    color: #999;
}

#messageForm button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #7f3cb7, #2980b9);
    color: #f1f1f1;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

#messageForm button:hover {
    background: linear-gradient(135deg, #6d3ca9, #2577a9);
}
